@media screen and (min-width: 768px){   
    
    // body{
    //     width: 100vw;
    //     max-width: 1200px;
    // }


    //----------------------------------TOGGLE---------------------------------------------
    
    .toggleShowBtnVerMas{
        @include button;
        font-size: 13px;
        font-family: "Montserrat";                
        font-weight: bold;
        padding: 1.4em 1.5em 1em 1.5em;
        margin-top: 1.3em;
        background-color: $color-blanco;
        margin-left: 50%; 
        display: block;
    }

    .nightMode{

        hr{
            background: $color-negro;   
        }
           
        header{
            background: $color-bg-nocturno;

            nav ul{
            background: $color-bg-nocturno;

                a{
                color: $color-blanco;
                }
            }
        }

        .home{
            background: $color-bg-nocturno;

            .browser{
                #containerSearchGifos input{
                    background: $color-bg-nocturno;
                }
            }

            .title h1{
                color: $color-blanco;   
            }

            #containerSearchGifos{
                color: $color-blanco;
            }

            .subtitle{
                color: $color-blanco;
            }
        }
        
        #containerTrending{
            background: $color-bg-nocturno-trending;

            .trendingTitle{
                h2, h3{
                    color: $color-blanco;  
                }
            }
        }

        .footer{
            background: $color-bg-nocturno;
        }
    }
}