@media screen and (min-width: 768px){   
    
    body{
        width: 100vw;
        max-width: 1200px;
    }

    header{
        height: 5.6em;                       /*poner en vh?*/
        justify-content: space-between;    //no funciona
        position: sticky;                   //no funciona
        background: transparent;
        display: flex;
        justify-content: space-between;   //es este?
        align-items: center; 

        .logo {
            display: inline-block;
            width: 3.7em;
            height: 3.7em;
            margin-left: 9.75em;
            margin-top: 1.5em;
            margin-bottom: 0.8em;
        }
        
        nav{            
            // .btn-menu{              //??????
            //     display: none;
            // }

            .open{
                display: none;
            }
            
            .close{
                display: none;
            }

            ul {
                width: 50vw;
                height: 10vh;
                // margin-right: 3rem;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-evenly;
                text-align: center;
                
                li{
                    background-color: $color-blanco;
                    // opacity: 50%;
                    a{
                        font-size: 13px;
                        color: $color-principal;
                        // opacity: 100%;
                    }
                
                    .btnCreate{
                        color: $color-principal;
                        width: 3.4em;
                        height: 3.4em;
                    }   
                }
            }
        }
    }

    .home{
        // display: flex;
        // flex-direction: column;
        // justify-content: space-between;
        box-sizing: border-box;
    
        .title{
            width: 58.4em;
            height: 6.25em;
            margin-left: 15.8rem;
            margin-top: 4.8em;   
            
            h1{
                font-size: 25px;     
                // font-weight:   
                
                .space{
                    display: block;
                }
                .gifos{
                    color: $color-celeste;
                }
            }
        }
    
        .browser{
            padding-left: 32.6em;
            margin-top: 1.5em; 

            .imageHome{
                width: 399px;   /*   24.9em  NO CAMBIA TAMAÑO IMAGEN*/
                height: 190px;  /*11.9em*/
            }

            .search{
                width: 34.4em;
                border-radius: 30px;

                // margin-left: 27.8em;
            
                // #search{
                    
                // }
            }
        }
    
        .subtitle{        
            h2{
            font-size: 18px;
            }
    
            h3{
                font-size: 16px;
            }

            .span{
                display: inline;
            }
        }
    }
    
    .trendingGifos{
        height: 40em;
    
        h2{
            font-size: 25px;
        }
    
        h3{
            font-size: 18px;
            display: inline;
        }
    }

    .favorites{
        // .titleFavorite{
        //     @include titles;     cambiar tamaño
        // }
        
        
        .imagesFavorites{
            width:70.4em;
            height: 41.75em;
            box-sizing: border-box;
            margin: auto;

            border: 1px solid black;    //ELIMINAR

            display: grid;
            grid-template: repeat(5,16.3em) / repeat(4,12.5em);
            grid-gap: 2.2em 1.8em;

            justify-content: center;
            
            // .img{    EL TAMAÑO QUE DEBERIA SER
            //     width: 16.3em;
            //     height: 12.5em;
            // }
            
            .img1{
                grid-area: 1/1/2/2;     //box 1
                border: 1px solid black;    //ELIMINAR
                background-color: chocolate;
            }
            .img2{
                grid-area: 1/2/2/3;     
                border: 1px solid black;    //ELIMINAR
                background-color: darkgreen;
            }
            .img3{
                grid-area: 1/3/2/4;     
                border: 1px solid black;    //ELIMINAR
                background-color: darkorange;
            }
            .img4{
                grid-area: 1/4/2/5;  
                border: 1px solid black;    //ELIMINAR  
            }
            .img5{
                grid-area: 2/1/3/2; 
                border: 1px solid black;    //ELIMINAR      
            }
            .img6{
                grid-area: 2/2/3/3;
                border: 1px solid black;    //ELIMINAR
            }
            .img7{
                grid-area: 2/3/3/4;
                border: 1px solid black;    //ELIMINAR
            }
            .img8{
                grid-area: 2/4/3/5;
                border: 1px solid black;    //ELIMINAR
            }
            .img9{
                grid-area: 3/1/4/2;
                border: 1px solid black;    //ELIMINAR
            }
            .img10{
                grid-area: 3/2/4/3; 
                border: 1px solid black;    //ELIMINAR
            }
            .img11{
                grid-area: 3/3/4/4;  
                border: 1px solid black;    //ELIMINAR
            }
            .img12{
                grid-area: 3/4/4/5;
                border: 1px solid black;    //ELIMINAR
            }   
        }

        .buttonFavorites{
            font-size: 13px;
        }
    }
}