#containerFavorites{
    @include titles;
    display: inline-block;
    width: 100vw;
    font-family: "Montserrat";

    .titleFavorite{  
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        text-transform: capitalize;
        padding-bottom: 2.9em;
    }
    .noContentFavorites{
        .iconHeart{
            width: 1.5em;
            height: 1.3em;
        }
        h3{
            text-align: center;
            color: $color-celeste;
            // .spanFavorites{
            //     display: block;                 //NO FUNCIONA
            // }
        }
    }

    .imagesFavorites{
        width: 20.8em;                  
        display: grid;
        grid-template: repeat(6,7.5em) / repeat(2,1fr);
        grid-gap: 1.3em 1.3em;
        justify-content: center;   
        padding-left: 1.3em;

        .singleImgFav{
            width: 9.75em;
            height: 7.5em;

            .imgGifFav {                    
                width: 9.75em;
                height: 7.5em;
            }

            .favInfo{
                // position: relative;
                // height: 12.5em;
                // transform: translate(0%, -102.5%);
                // grid-template: repeat(3, 1fr) / repeat(3, 1fr);
                // text-transform: capitalize;
                display: none;

                .hoverIcons {
                    display: none;
                    // width: 20vw;
                    // height: 3em;
                    // grid-area: 1/3/2/4;
                    // padding-top: .5em;
                    // padding-right: .16em;
                    // display: flex;
                    // flex-direction: row;
                    // justify-content: flex-end;
                    // align-items: flex-start;
                    // align-content: flex-end;
                    // img{
                    //     width: 2em;
                    //     height: 2em;
                    //     padding: .2em;
                    // }
                }

                .pInfo{   
                    display: none;
                    // height: 5em;
                    // color: $color-blanco;
                    // font-family: 'Roboto'; 
                    // padding-left: 1em;
                    // padding-top: 1em;
                    // margin-top: 2em;
                    // display: flex;
                    // flex-direction: row;
                    // justify-content: flex-start;
                    // flex-wrap: wrap;
                    // align-items: flex-end;
                    // align-content: flex-end;

                    // .user{ 
                    //     width: 13em;
                    //     font-weight: 400;     
                    //     font-size: 15px;
                    // }
                    // .titleGifSearch{
                    //     font-weight: 900;  
                    //     font-size: 16px;
                    // } 
                }
            } 
        }
    }
    .buttonFavorites{
        @include titles;
        @include button;
        font-size: 13px;              
        padding: 1.4em 1.5em 1em 1.5em;
        margin-top: 4em;
        margin-bottom: 6em;
        background-color: $color-blanco;
        margin-left: 50%;
        transform: translateX(-50%);
        display: none;
    }


    .modalFavExpand{
        display: none;
        // .hoverIcons{

        // }
        // .infoExpand{

        // }
    }
}

//------------------------------------------ DESKTOP ---------------------------------------

@media screen and (min-width: 768px){   
    
    // #home{
    //     .modalShow{
    //         position: absolute;
    //         width: 100vw; 
    //         height: 100vh;
    //         top:0;
    //         margin: 0;
    //         padding: 0;
    //         z-index: 100;
    //         box-sizing: border-box;
    //         background-color: $color-blanco;              
    //         display: none;

    //         .btnCloseModal {
    //             width: 3em;
    //             height: 3em;
    //             position: absolute;
    //             top: 4rem; 
    //             left: 80vw; 
    //             z-index: 50;
    //         }

    //         .containerImgExpand {
    //             .modalImg {
    //                 width: 43.4em;
    //                 height: 24.1em;
    //                 padding-left: 18em;
    //                 padding-top: 6em;
    //             }
    //         }

    //         .trendingExpand{
    //             display: flex;
    //             flex-direction: row-reverse;
    //             justify-content: space-around;

    //             .hoverIcons{
    //                 padding-right: 8em;
    //                 img{
    //                     padding-top: .8em;
    //                 }
    //             }
    //             .infoExpand{
    //                 color: $color-negro;
    //                 font-family: 'Roboto'; 
    //                 padding-left: 8em;
    //                 padding-top: 1em;
    //                 text-transform: capitalize;

    //                 .userExpand{ 
    //                     font-weight: 400;     
    //                     font-size: 15px;
    //                 }
    //                 .titleExpand{
    //                     font-weight: 900;  
    //                     font-size: 16px;
    //                 } 
    //             }
    //         }
    //     }
    // }

    #containerFavorites{
        width: 100vw;
        // height: 73em;      
 
        .titleFavorite{
            @include titles;    
            font-family: "Montserrat";
            font-weight: bold;
            font-size: 25px;
            line-height: 30px;
            padding-bottom: 2.25em;
            padding-top: 0.7em;
        }

        .noContentFavorites{
            .iconHeart{
                width: 9.375em;
                height: 8em;
                
                img{
                  width: 4em;  
                  padding-left: 47vw;
                }
            }
            h3{
                text-align: center;
                color: $color-celeste;
                // .spanFavorites{
                //     display: block;                 //NO FUNCIONA
                // }
            }
        }
        
        .imagesFavorites{
            width:70.5em;
            // height: 43em;                       //???
            margin: auto;
            box-sizing: border-box;
            display: grid;
            // grid-template: repeat(5,1fr) / repeat(4,1fr);
            grid-template: repeat(2,1fr) / repeat(4,1fr);
            grid-gap: 2.19em 1.81em;
            justify-content: center;                //?????

            .singleImgFav{
                width: 16.25em;
                height: 12.5em;

                .imgGifFav {                    
                    width: 16.25em;
                    height: 12.5em;
                }

                .favInfo{
                    position: relative;
                    height: 12.5em;
                    transform: translate(0%, -102.5%);
                    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
                    text-transform: capitalize;
                    display: none;

                    .hoverIcons {
                        width: 20vw;
                        height: 3em;
                        grid-area: 1/3/2/4;
                        padding-top: .5em;
                        padding-right: .16em;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;
                        align-items: flex-start;
                        align-content: flex-end;
                        img{
                            width: 2em;
                            height: 2em;
                            padding: .2em;
                        }
                    }
                    // .btnHeartPressed{
                    //     height: 1.65em;
                    //     width: 1.6em;
                    //     padding: .2em;
                    //     margin-top: .15em;
                    //     margin-right: .3em;
                    //     background-color: $color-blanco;
                    //     border-radius: 6px;
                    //     opacity: 0.8;
                    // }

                    .pInfo{   
                        height: 5em;
                        color: $color-blanco;
                        font-family: 'Roboto'; 
                        padding-left: 1em;
                        padding-top: 1em;
                        margin-top: 2em;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        flex-wrap: wrap;
                        align-items: flex-end;
                        align-content: flex-end;

                        .user{ 
                            width: 13em;
                            font-weight: 400;     
                            font-size: 15px;
                        }
                        .titleGifSearch{
                            font-weight: 900;  
                            font-size: 16px;
                        } 
                    }
                } 
                &:hover{
                    width: 16.25em;
                    height: 12.5em;
                    
                    .favInfo{
                        background-color: $color-principal;
                        opacity: 0.7;
                        display: block                           
                    }
                }
            }
        }
        .buttonFavorites{
            @include button;            
            font-size: 13px;              
            padding: 1.4em 1.5em 1em 1.5em;
            margin-top: 4em;
            margin-bottom: 6em;
            background-color: $color-blanco;
            margin-left: 50%;
            transform: translateX(-50%);
        }


        .modalShow{
            position: absolute;
            width: 100vw; 
            height: 100vh;
            top:0;
            margin: 0;
            padding: 0;
            z-index: 100;
            box-sizing: border-box;
            background-color: $color-blanco;              
            display: none;
            .btnCloseModal {
                width: 3em;
                height: 3em;
                position: absolute;
                top: 4rem; 
                left: 73vw; 
                z-index: 50;
            }
            .containerImgExpand {
                display: flex;
                .modalImg {
                    width: 43.4em;
                    height: 24.1em;
                    padding-left: 18em;
                    padding-top: 6em;
                }
            }
            .trendingExpand{
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-around;

                .hoverIcons{
                    padding-right: 8em;
                    img{
                        padding-top: .8em;
                    }
                }
                .infoExpand{
                    color: $color-negro;
                    font-family: 'Roboto'; 
                    padding-left: 8em;
                    padding-top: 1em;
                    text-transform: capitalize;

                    .userExpand{ 
                        font-weight: 400;     
                        font-size: 15px;
                    }
                    .titleExpand{
                        font-weight: 900;  
                        font-size: 16px;
                    } 
                }
            }
        }
    } 

}