.favorites{
    @include titles;
    display: inline-block;

    .buttonFavorites{
        @include titles;
        @include button;
    }
}

//------------------------------------------ DESKTOP ---------------------------------------

@media screen and (min-width: 768px){   
    
    #containerFavorites{
        width: 100vw;
        // height: 73em;      
 
        .titleFavorite{
            @include titles;    
            font-family: "Montserrat";
            font-weight: bold;
            font-size: 25px;
            line-height: 30px;
            padding-bottom: 2.25em;
            padding-top: 0.7em;
        }

        #noContentFavorites{

            .iconHeart{
                width: 9.375em;
                height: 9.438em;
            }

            h3{
                color: $color-celeste;

                // .spanFavorites{
                //     display: block;                 //NO FUNCIONA
                // }
            }
            
        }
        
        .imagesFavorites{
            width:70.5em;
            // height: 43em;                       //???
            margin: auto;
            
            box-sizing: border-box;
            border: 1px solid black;    //ELIMINAR

            display: grid;
            grid-template: repeat(5,1fr) / repeat(4,1fr);
            grid-gap: 2.19em 1.81em;
            justify-content: center;                //?????
        
            .img1{
                width: 16.25em;
                height: 12.5em;
                grid-area: 1/1/2/2;     
                border: 1px solid black;    //ELIMINAR
            }
            .img2{
                width: 16.3em;
                height: 12.5em;
                grid-area: 1/2/2/3;     
                border: 1px solid black;    //ELIMINAR
            }
            .img3{
                width: 16.3em;
                height: 12.5em;
                grid-area: 1/3/2/4;     
                border: 1px solid black;    //ELIMINAR
            }
            .img4{
                width: 16.3em;
                height: 12.5em;
                grid-area: 1/4/2/5;  
                border: 1px solid black;    //ELIMINAR  
            }
            .img5{
                width: 16.3em;
                height: 12.5em;
                grid-area: 2/1/3/2; 
                border: 1px solid black;    //ELIMINAR      
            }
            .img6{
                width: 16.3em;
                height: 12.5em;
                grid-area: 2/2/3/3;
                border: 1px solid black;    //ELIMINAR
            }
            .img7{
                width: 16.3em;
                height: 12.5em;
                grid-area: 2/3/3/4;
                border: 1px solid black;    //ELIMINAR
            }
            .img8{
                width: 16.3em;
                height: 12.5em;
                grid-area: 2/4/3/5;
                border: 1px solid black;    //ELIMINAR
            }
            .img9{
                width: 16.3em;
                height: 12.5em;
                grid-area: 3/1/4/2;
                border: 1px solid black;    //ELIMINAR
            }
            .img10{
                width: 16.3em;
                height: 12.5em;
                grid-area: 3/2/4/3; 
                border: 1px solid black;    //ELIMINAR
            }
            .img11{
                width: 16.3em;
                height: 12.5em;
                grid-area: 3/3/4/4;  
                border: 1px solid black;    //ELIMINAR
            }
            .img12{
                width: 16.3em;
                height: 12.5em;
                grid-area: 3/4/4/5;
                border: 1px solid black;    //ELIMINAR
            }   
        }

        .buttonFavorites{
            @include button;            
            font-size: 13px;              
            padding: 1.4em 1.5em 1em 1.5em;
            margin-top: 4em;
            margin-bottom: 6em;
            background-color: $color-blanco;
            margin-left: 50%;
            transform: translateX(-50%);
        }
    } 
}