.footer{
    width: 100vw;  
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

    h4{
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 15px;
        padding-top: 2.9em;
    }

    .icons{
        width: 6em;
        padding-top: 1.4em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    p{
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 14px;
        padding-top: 2.9em;
        line-height: 20px;
    }

    hr{
        @include hr; 
        bottom: 0; 
    }
}


//-----------------------------------------------  DESKTOP  --------------------------------------------------

@media screen and (min-width: 768px){   

    .footer{
        width: 100vw;
        // padding: 0 9.8em;            QUEDA POR FUERA DE LA PAG
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        padding-top: 3em;
        //padding-bottom: 3.21em;             //PERO QUE LA LINEA AZUL QUEDE POR DEBAJO

        .socialMedia{
            width: 13em;
            display: flex;                  //es necesario?
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            align-content: center;

            .icons{
                padding-top: 2.9em;
                padding-left: 1em;
            }
        }
        // .socialMedia:hover{
        //     color: $color-principal;
        // }
    }
}