@mixin hr {
    width: 100vw;
    height: 5px;
    background:$color-principal;
    display: block;
}

body hr{
    @include hr;
    top: 0; 
}

header{    
    width: 100vw;
    height: 5.94em;
    // line-height: 8vh;
    padding-top: 1.8em;
    font-family: 'Montserrat';     /*o pongo include mixin?*/ 
    font-weight: bold;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    .logoMobile {
        display: inline-block;
        margin-left: 1.375em;
        margin-bottom: 1.08em;
    }

    .logoDesktop{
        display: none;                             
    }

    nav{
        .checkbox{
            display:none;   
        }
        
        .open{      
            display: block;
            color: $color-principal;        
        }
        
        .close{                        
            display: none;
            color: $color-principal;
        }

        input:checked ~ .open{      
            display: none;
        }

        input:checked ~ .close{    
            display: block;
        }

        input:checked ~ ul{  
            display:block;
        }  

        ul {
            width: 100vw;
            height: 100vw;
            // min-height: 100vh;              //NO FUNCIONA
            margin-top: 2em;
            list-style: none;
            display: none;
            position: absolute;
            text-align: center;
            right: 0;
            z-index: 1;             //es necesario?
            background: $color-menu;

            li { 
                width: 100vw;
                padding: .5em 0; 

                // border-bottom: 1px solid white;   // TIENE QUE SER CORTO y no verse en desktop!!!!!!
                  
                a{
                    color: $color-blanco;
                    text-decoration: none;  
                    line-height: 1.375em;      //???? 
                }

                .buttonCrear{

                    display: none;
                   .btnCreate{
                    
                    height: 100vh;                  //????
                    } 
                }
                
            }
        }
    }
}


// ---------------------------------------------------- DESKTOP ------------------------------------------------

@media screen and (min-width: 768px){   
    
    body{
        width: 100vw;
        max-width: 1200px;
    }

    header{
        height: 6em;                       /*poner en vh?   7em?*/
        padding-top: 0;
        padding-bottom: 0.75em;
        // background: transparent;           //???
        font-weight: bold;              
        display: flex;
        justify-content: space-between;  
        // background: $color-blanco;
        position: sticky;
        top: 0%;
        z-index: 50;

        .logoDesktop {
            display: inline;
            width: 3.7em;
            height: 3.7em;
            margin-left: 9.75em;
            margin-top: 1.5em;
            margin-bottom: 0.8em;

            a img{
                font-family: 'Roboto';
                font-weight: 400;           //roboto black??????
                font-size: 18px;
                color: $color-principal;  
            }
        }
        
        nav{            
            // .btn-menu{              //??????
            //     display: none;
            // }

            .open{
                display: none;
            }
            
            .close{
                display: none;
            }

            ul {
                width: 50vw;
                height: 2.5em;
                // margin-right: 3rem;
                margin-top: 0;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-evenly;
                align-items: center;
                // text-align: center;
                background: $color-blanco;

                li a{
                    font-size: 13px;
                    text-transform: uppercase;
                    color: $color-principal;
                    // opacity: 100%;

                    &:hover{
                        text-decoration:underline;
                        text-decoration-color:$color-celeste;
                        text-decoration-thickness: 2px;       
                    }
                
                    &:active{
                        color:$color-gris;
                        text-decoration: none;
                    }

                    .btnCreate{
                        width: 3.4em;
                        height: 3.4em;
                        display: inline-block;
                        background-image: url("../images/button-crear-gifo.svg");
                        border-radius: 50%;
                        border: 1px solid $color-principal;
                        background-position: center;

                        &:hover{
                            background-image: url("../images/CTA-crear-gifo-hover.svg");
                        }
                    } 
                }
            }
        }
    }

    //cuando scrolleas aparece sombra en el header
    .scrollActive{
        box-shadow: 0 2px 4px 1px rgba(156,175,195,0.55);
    }
}