.trendingGifos{
    @include titles;
    height: 26.9em;
    background-color: $color-background;

    h2{
        font-size: 20px;
    }
    h3{
        font-size: 16px;
        color: $color-negro;
        display: block;
    }
}