$color-principal: #572EE5;
$color-celeste: #50E3C2;
$color-background: #F3F5F8;
$color-menu: rgba(87,46,229,0.90);
$color-negro: #000000;
$color-blanco:#FFFFFF;
$color-gris:#9CAFC3;


//MODO NOCTURNO
$color-bg-nocturno: #37383C;
$color-bg-nocturno-trending: #222326;   

