body hr {
  width: 100vw;
  height: 5px;
  background-color: #572EE5;
  display: block;
  top: 0; }

header {
  width: 100vw;
  height: 5.94em;
  padding-top: 1.8em;
  font-family: 'Open Sans';
  /*o pongo include mixin?*/
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  header .logoMobile {
    display: inline-block;
    margin-left: 1.375em;
    margin-bottom: 1.08em; }
  header .logoDesktop {
    display: none; }
  header nav .checkbox {
    display: none; }
  header nav .open {
    display: block;
    color: #572EE5; }
  header nav .close {
    display: none;
    color: #572EE5; }
  header nav input:checked ~ .open {
    display: none; }
  header nav input:checked ~ .close {
    display: block; }
  header nav input:checked ~ ul {
    display: block; }
  header nav ul {
    width: 100vw;
    margin-top: 2em;
    list-style: none;
    display: none;
    position: absolute;
    text-align: center;
    right: 0;
    z-index: 1;
    background-color: rgba(87, 46, 229, 0.9); }
    header nav ul li {
      width: 100vw;
      padding: .5em 0; }
      header nav ul li a {
        color: #FFFFFF;
        text-decoration: none;
        line-height: 1.375em; }
      header nav ul li .btnCreate {
        display: none;
        height: 100vh; }

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .home .title {
    max-width: 100vw;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-left: 2.8em;
    margin-top: 0.4em; }
    .home .title h1 {
      color: #572EE5;
      font-family: 'Open Sans';
      text-align: center;
      font-size: 25px;
      text-align: center;
      font-weight: bold;
      /*NO FUNCIONA*/ }
      .home .title h1 .space {
        display: block; }
      .home .title h1 .gifos {
        color: #50E3C2; }
  .home .browser {
    margin-left: 3.19em;
    display: flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .home .browser .imageHome {
      width: 273px;
      height: 8.13em;
      display: block; }
    .home .browser .search {
      width: 20.9em;
      height: 3.1em;
      border: 1px solid #572EE5;
      border-radius: 30px;
      padding: 0 1em;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .home .browser .search #search {
        background-color: transparent;
        border: 0px solid;
        width: 13.4em; }
  .home .subtitle {
    width: 100vw;
    padding-top: 1.9em;
    padding-bottom: 2.8em;
    color: #572EE5;
    font-family: 'Open Sans';
    text-align: center; }
    .home .subtitle h2 {
      font-size: 16px; }
    .home .subtitle h3 {
      font-size: 14px; }
    .home .subtitle .span {
      display: block; }

.trendingGifos {
  color: #572EE5;
  font-family: 'Open Sans';
  text-align: center;
  width: 100vw;
  height: 26.9em;
  background-color: #F3F5F8; }
  .trendingGifos h2 {
    font-size: 20px; }
  .trendingGifos h3 {
    font-size: 16px;
    color: #000000;
    display: block; }

.favorites {
  color: #572EE5;
  font-family: 'Open Sans';
  text-align: center;
  display: inline-block; }
  .favorites .buttonFavorites {
    color: #572EE5;
    font-family: 'Open Sans';
    text-align: center;
    border: 1px solid #572EE5;
    border-radius: 30px;
    padding: 0 1em; }

.createGifos {
  width: 100vw;
  height: 35.75em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .createGifos .animation {
    -ms-flex-item-align: center;
        align-self: center; }
    .createGifos .animation .camara {
      width: 7.7em;
      height: 10.13em; }
    .createGifos .animation .light {
      width: 5.7em;
      height: 9.4em; }
  .createGifos .stepByStep {
    width: 49.7em;
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .createGifos .stepByStep .boxTitle {
      width: 43em;
      height: 24.4em;
      padding: 1.2em;
      border: 1px solid #572EE5;
      text-align: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      display: grid;
      grid-template: 2em 1fr 2em / 2em 1fr 2em; }
      .createGifos .stepByStep .boxTitle .corner1 {
        grid-area: 1/1/2/2;
        border-top: 1px solid #50E3C2;
        border-left: 1px solid #50E3C2;
        width: 1.68em;
        height: 1.56em; }
      .createGifos .stepByStep .boxTitle .corner2 {
        grid-area: 1/3/2/4;
        border-top: 1px solid #50E3C2;
        border-right: 1px solid #50E3C2;
        width: 1.68em;
        height: 1.56em;
        -ms-flex-item-align: start;
            align-self: flex-start;
        justify-self: flex-end; }
      .createGifos .stepByStep .boxTitle .text {
        grid-area: 2/2/3/3; }
        .createGifos .stepByStep .boxTitle .text h2 {
          font-size: 25px;
          line-height: 35px; }
        .createGifos .stepByStep .boxTitle .text p {
          font-size: 16px;
          line-height: 29px; }
        .createGifos .stepByStep .boxTitle .text .blockSpan {
          display: block; }
        .createGifos .stepByStep .boxTitle .text .coloredSpan {
          color: #50E3C2; }
      .createGifos .stepByStep .boxTitle .corner3 {
        grid-area: 3/1/4/2;
        border-left: 1px solid #50E3C2;
        border-bottom: 1px solid #50E3C2;
        width: 1.68em;
        height: 1.56em;
        -ms-flex-item-align: end;
            align-self: flex-end;
        justify-self: flex-start; }
      .createGifos .stepByStep .boxTitle .corner4 {
        grid-area: 3/3/4/4;
        border-right: 1px solid #50E3C2;
        border-bottom: 1px solid #50E3C2;
        width: 1.68em;
        height: 1.56em;
        -ms-flex-item-align: end;
            align-self: flex-end;
        justify-self: flex-end; }
    .createGifos .stepByStep .buttonsNumber {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 1.6em; }
      .createGifos .stepByStep .buttonsNumber .number {
        width: 2em;
        height: 2em;
        margin-left: 1.6em;
        font-size: 18px;
        color: #572EE5;
        text-align: center;
        border: 1px solid #572EE5;
        border-radius: 100%;
        background-color: #FFFFFF; }
    .createGifos .stepByStep hr {
      width: 49.7em;
      height: 0.4em;
      -ms-flex-item-align: end;
          align-self: flex-end;
      border-radius: 10px 10px 10px 10px; }
    .createGifos .stepByStep .buttonStart {
      border: 1px solid #572EE5;
      border-radius: 30px;
      padding: 0 1em;
      padding: 1.4em 1.5em 1em 1.5em;
      margin-top: 1.3em; }
  .createGifos .imageFilm {
    width: 5.45em;
    height: 5.44em;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-bottom: 5em; }

.footer {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .footer h4 {
    font-size: 15px;
    padding-top: 2.9em; }
  .footer .icons {
    width: 6em;
    padding-top: 1.4em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer p {
    font-size: 14px;
    padding-top: 2.9em; }
  .footer hr {
    width: 100vw;
    height: 5px;
    background-color: #572EE5;
    display: block;
    bottom: 0; }

@media screen and (min-width: 768px) {
  body {
    width: 100vw;
    max-width: 1200px; }

  header {
    height: 5.6em;
    /*poner en vh?   7em?*/
    padding-top: 0;
    padding-bottom: 0.75em;
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #FFFFFF;
    position: -webkit-sticky;
    position: sticky;
    top: 0%; }
    header .logoMobile {
      display: none; }
    header .logoDesktop {
      display: inline;
      width: 3.7em;
      height: 3.7em;
      margin-left: 9.75em;
      margin-top: 1.5em;
      margin-bottom: 0.8em; }
    header nav .open {
      display: none; }
    header nav .close {
      display: none; }
    header nav ul {
      width: 50vw;
      height: 2.8em;
      margin-top: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
      text-align: center;
      background-color: #FFFFFF; }
      header nav ul li a {
        font-size: 13px;
        text-transform: uppercase;
        color: #572EE5; }
        header nav ul li a:hover {
          text-decoration: underline;
          -webkit-text-decoration-color: #50E3C2;
                  text-decoration-color: #50E3C2;
          text-decoration-thickness: 2px; }
        header nav ul li a:active {
          color: #9CAFC3;
          text-decoration: none; }
        header nav ul li a .btnCreate {
          width: 3.4em;
          height: 3.4em;
          display: inline-block; }

  .home {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .home .title {
      height: 6.25em;
      margin-left: 15.8rem;
      margin-top: 4.8em; }
      .home .title h1 {
        font-size: 35px;
        text-align: center; }
        .home .title h1 .space {
          display: block; }
        .home .title h1 .gifos {
          color: #50E3C2; }
    .home .browser {
      margin-top: 1.5em;
      margin-left: 0px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
      .home .browser .imageHome {
        width: 399px;
        height: 190px;
        margin: auto; }
      .home .browser .search {
        width: 34.4em;
        margin: auto; }
    .home .subtitle h2 {
      font-size: 18px; }
    .home .subtitle h3 {
      font-size: 16px; }
    .home .subtitle .span {
      display: inline; }

  .trendingGifos {
    height: 40em; }
    .trendingGifos h2 {
      font-size: 25px; }
    .trendingGifos h3 {
      font-size: 18px;
      display: inline; }

  .footer {
    width: 100vw;
    height: 7.25em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center; }
    .footer .socialMedia {
      width: 13em;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-line-pack: center;
          align-content: center; }
      .footer .socialMedia .icons {
        padding-top: 2.9em;
        padding-left: 1em; } }
/*Breakpoint 768px*/
* {
  margin: 0;
  padding: 0; }

/*# sourceMappingURL=style.css.map */