body hr {
  width: 100vw;
  height: 5px;
  background: #572EE5;
  display: block;
  top: 0; }

header {
  width: 100vw;
  height: 5.94em;
  padding-top: 1.8em;
  font-family: 'Montserrat';
  /*o pongo include mixin?*/
  font-weight: bold;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  header .logoDesktop {
    display: inline-block;
    margin-left: 1.375em;
    margin-bottom: 1.08em; }
    header .logoDesktop a img {
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 18px;
      color: #572EE5;
      width: 3em;
      height: 3em; }
  header nav .checkbox {
    display: none; }
  header nav .open {
    display: block;
    color: #572EE5; }
  header nav .close {
    display: none;
    color: #572EE5; }
  header nav input:checked ~ .open {
    display: none; }
  header nav input:checked ~ .close {
    display: block; }
  header nav input:checked ~ ul {
    display: block; }
  header nav ul {
    width: 100vw;
    height: 100vw;
    margin-top: 2em;
    list-style: none;
    display: none;
    position: absolute;
    text-align: center;
    right: 0;
    z-index: 1;
    background: rgba(87, 46, 229, 0.9); }
    header nav ul li {
      width: 100vw;
      padding: .5em 0; }
      header nav ul li a {
        color: #FFFFFF;
        text-decoration: none;
        line-height: 1.375em; }
      header nav ul li .buttonCrear {
        display: none; }

@media screen and (min-width: 768px) {
  body {
    width: 100vw;
    max-width: 1200px; }

  header {
    height: 6em;
    /*poner en vh?   7em?*/
    padding-top: 0;
    padding-bottom: 0.75em;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: #FFFFFF;
    position: -webkit-sticky;
    position: sticky;
    top: 0%;
    z-index: 50; }
    header .logoDesktop {
      display: inline;
      margin-left: 9.75em;
      margin-top: 1.5em;
      margin-bottom: 0.8em; }
      header .logoDesktop a img {
        width: 3.7em;
        height: 3.7em;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 18px;
        color: #572EE5; }
    header nav .open {
      display: none; }
    header nav .close {
      display: none; }
    header nav ul {
      width: 50vw;
      height: 2.5em;
      margin-top: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background: #FFFFFF; }
      header nav ul li .buttonCrear {
        display: block; }
      header nav ul li a {
        font-size: 13px;
        text-transform: uppercase;
        color: #572EE5; }
        header nav ul li a:hover {
          text-decoration: underline;
          -webkit-text-decoration-color: #50E3C2;
                  text-decoration-color: #50E3C2;
          text-decoration-thickness: 2px; }
        header nav ul li a:active {
          color: #9CAFC3;
          text-decoration: none; }
        header nav ul li a .btnCreate {
          width: 3.4em;
          height: 3.4em;
          display: inline-block;
          background-image: url("../images/button-crear-gifo.svg");
          border-radius: 50%;
          border: 1px solid #572EE5;
          background-position: center; }
          header nav ul li a .btnCreate:hover {
            background-image: url("../images/CTA-crear-gifo-hover.svg"); }

  .scrollActive {
    -webkit-box-shadow: 0 2px 4px 1px rgba(156, 175, 195, 0.55);
            box-shadow: 0 2px 4px 1px rgba(156, 175, 195, 0.55); } }
.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .home .title {
    max-width: 100vw;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-left: 2.8em;
    margin-top: 0.4em; }
    .home .title h1 {
      color: #572EE5;
      text-align: center;
      font-family: 'Montserrat';
      font-size: 25px;
      font-weight: bold;
      text-align: center; }
      .home .title h1 .space {
        display: block; }
  .home .browser {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .home .browser .imageHome {
      width: 273px;
      height: 8.13em;
      margin-left: 3.19em;
      display: block; }
    .home .browser .search {
      width: 20em;
      height: 3em;
      font-family: "Montserrat";
      font-weight: bold;
      border: 1px solid;
      color: #572EE5;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      border-radius: 30px;
      padding: 0 1em;
      margin-left: .7em; }
      .home .browser .search .autocomplete {
        width: 20em;
        height: 3.3em;
        padding-top: 1.4em;
        border: none;
        outline: none;
        margin-left: 3em; }
      .home .browser .search .imageSearch {
        width: 1.3em;
        height: 2em; }
      .home .browser .search .closeSearch {
        width: 1em;
        height: 1em;
        position: absolute;
        top: 30.7em;
        left: 50.6em;
        display: none; }
      .home .browser .search #containerSuggestions {
        width: 15em;
        height: 8em;
        margin-top: .5em;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 15px;
        color: #9CAFC3;
        text-transform: capitalize; }
        .home .browser .search #containerSuggestions li {
          list-style: none;
          list-style-image: url("../images/icon-search-modo-noct.svg");
          padding-left: 1em;
          margin-left: 2em;
          padding-top: .3em;
          cursor: pointer; }
    .home .browser .searchActive {
      height: 10em; }
    .home .browser .borderBottomSearch {
      display: none;
      width: 20em;
      height: 1px;
      opacity: 0.5;
      color: #9CAFC3; }
    .home .browser .noResultSearchGifos {
      padding-top: 2.2em; }
      .home .browser .noResultSearchGifos .containerImgNoResult {
        padding-top: 1em;
        text-align: center; }
        .home .browser .noResultSearchGifos .containerImgNoResult img {
          width: 6em;
          height: 7em;
          padding-top: 6em; }
        .home .browser .noResultSearchGifos .containerImgNoResult h3 {
          font-size: 15px;
          color: #50E3C2; }
  .home #listGifs #titleGifs {
    color: #572EE5;
    text-align: center;
    font-family: "Montserrat";
    font-size: 25px;
    line-height: 30px;
    text-transform: capitalize; }
  .home #listGifs .showSearchGif {
    width: 20.8em;
    display: grid;
    grid-template: repeat(6, 7.5em)/repeat(2, 1fr);
    grid-gap: 1.3em 1.3em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 1.3em; }
    .home #listGifs .showSearchGif .singleImgSearch {
      width: 9.75em;
      height: 7.5em; }
      .home #listGifs .showSearchGif .singleImgSearch .imgGifsSearch {
        width: 9.75em;
        height: 7.5em; }
      .home #listGifs .showSearchGif .singleImgSearch .searchInfo {
        position: relative;
        height: 12.5em;
        -webkit-transform: translate(0%, -102.5%);
                transform: translate(0%, -102.5%);
        grid-template: repeat(3, 1fr)/repeat(3, 1fr);
        text-transform: capitalize;
        display: none; }
        .home #listGifs .showSearchGif .singleImgSearch .searchInfo .hoverIcons {
          width: 20vw;
          height: 3em;
          grid-area: 1/3/2/4;
          padding-top: .5em;
          padding-right: .16em;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-box-pack: end;
              -ms-flex-pack: end;
                  justify-content: flex-end;
          -webkit-box-align: start;
              -ms-flex-align: start;
                  align-items: flex-start;
          -ms-flex-line-pack: end;
              align-content: flex-end; }
          .home #listGifs .showSearchGif .singleImgSearch .searchInfo .hoverIcons img {
            width: 2em;
            height: 2em;
            padding: .2em; }
        .home #listGifs .showSearchGif .singleImgSearch .searchInfo .pInfo {
          height: 5em;
          color: #FFFFFF;
          font-family: 'Roboto';
          padding-left: 1em;
          padding-top: 1em;
          margin-top: 2em;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-box-pack: start;
              -ms-flex-pack: start;
                  justify-content: flex-start;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          -webkit-box-align: end;
              -ms-flex-align: end;
                  align-items: flex-end;
          -ms-flex-line-pack: end;
              align-content: flex-end; }
          .home #listGifs .showSearchGif .singleImgSearch .searchInfo .pInfo .user {
            width: 13em;
            font-weight: 400;
            font-size: 15px; }
          .home #listGifs .showSearchGif .singleImgSearch .searchInfo .pInfo .titleGifSearch {
            font-weight: 900;
            font-size: 16px; }
  .home #listGifs .btnSearchGif {
    color: #572EE5;
    border: 1px solid #572EE5;
    border-radius: 30px;
    padding: 0 1em;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 13px;
    padding: 1.4em 1.5em 1em 1.5em;
    margin-top: 4em;
    margin-bottom: 6em;
    background-color: #FFFFFF;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    display: none; }
  .home .subtitle {
    width: 100vw;
    padding-top: 1.9em;
    padding-bottom: 2em;
    color: #572EE5;
    text-align: center;
    font-family: 'Montserrat';
    display: block; }
    .home .subtitle h2 {
      font-size: 16px;
      font-weight: bold; }
    .home .subtitle h3 {
      font-size: 14px;
      font-weight: 500; }
    .home .subtitle .span {
      display: block; }

@media screen and (min-width: 768px) {
  .home {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .home .title {
      width: 58.4em;
      height: 6.25em;
      margin-top: 4.8em;
      text-align: center; }
      .home .title h1 {
        font-size: 35px;
        font-family: "Montserrat";
        font-weight: bold;
        text-align: center; }
        .home .title h1 .space {
          display: block; }
        .home .title h1 .gifos {
          color: #50E3C2; }
    .home .browser {
      margin-top: 1.5em;
      margin-left: 0px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
      .home .browser .imageHome {
        width: 399px;
        height: 190px;
        margin: auto; }
      .home .browser .search {
        width: 34.4em;
        height: 3.3em;
        display: block; }
        .home .browser .search .autocomplete {
          width: 30em;
          height: 3.3em;
          top: 2em;
          padding-top: 0; }
        .home .browser .search .imageSearch {
          width: 1.3em;
          height: 2em; }
        .home .browser .search .closeSearch {
          width: 1em;
          height: 1em;
          position: absolute;
          top: 30.7em;
          left: 50.6em;
          display: none; }
        .home .browser .search #containerSuggestions {
          width: 30em;
          height: 7em;
          margin-top: .5em;
          line-height: 1.5em;
          font-size: 16px; }
      .home .browser .searchActive {
        height: 12em; }
      .home .browser .borderBottomSearch {
        display: none;
        width: 32em;
        height: 1px;
        opacity: 0.5;
        color: #9CAFC3; }
      .home .browser .noResultSearchGifos .containerImgNoResult {
        text-align: center; }
        .home .browser .noResultSearchGifos .containerImgNoResult img {
          width: 9em;
          height: 9em;
          padding-top: 3em; }
        .home .browser .noResultSearchGifos .containerImgNoResult h3 {
          font-size: 20px;
          padding-top: 1em; }
    .home #listGifs #titleGifs {
      color: #572EE5;
      text-align: center;
      font-family: "Montserrat";
      font-size: 30px;
      line-height: 30px;
      text-transform: capitalize;
      padding-bottom: 1.3em;
      padding-top: 1em; }
    .home #listGifs .showSearchGif {
      width: 68em;
      display: grid;
      grid-template: repeat(3, 12em)/repeat(4, 1fr);
      grid-gap: 2.19em 1.81em;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .home #listGifs .showSearchGif .singleImgSearch {
        width: 16.25em;
        height: 12.5em; }
        .home #listGifs .showSearchGif .singleImgSearch .imgGifsSearch {
          width: 16.25em;
          height: 12.5em; }
        .home #listGifs .showSearchGif .singleImgSearch .searchInfo {
          position: relative;
          height: 12.5em;
          -webkit-transform: translate(0%, -102.5%);
                  transform: translate(0%, -102.5%);
          grid-template: repeat(3, 1fr)/repeat(3, 1fr);
          text-transform: capitalize;
          display: none; }
          .home #listGifs .showSearchGif .singleImgSearch .searchInfo .hoverIcons {
            width: 20vw;
            height: 3em;
            grid-area: 1/3/2/4;
            padding-top: .5em;
            padding-right: .16em;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-pack: end;
                -ms-flex-pack: end;
                    justify-content: flex-end;
            -webkit-box-align: start;
                -ms-flex-align: start;
                    align-items: flex-start;
            -ms-flex-line-pack: end;
                align-content: flex-end; }
            .home #listGifs .showSearchGif .singleImgSearch .searchInfo .hoverIcons img {
              width: 2em;
              height: 2em;
              padding: .2em; }
          .home #listGifs .showSearchGif .singleImgSearch .searchInfo .pInfo {
            height: 5em;
            color: #FFFFFF;
            font-family: 'Roboto';
            padding-left: 1em;
            padding-top: 1em;
            margin-top: 2em;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-pack: start;
                -ms-flex-pack: start;
                    justify-content: flex-start;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            -webkit-box-align: end;
                -ms-flex-align: end;
                    align-items: flex-end;
            -ms-flex-line-pack: end;
                align-content: flex-end; }
            .home #listGifs .showSearchGif .singleImgSearch .searchInfo .pInfo .user {
              width: 13em;
              font-weight: 400;
              font-size: 15px; }
            .home #listGifs .showSearchGif .singleImgSearch .searchInfo .pInfo .titleGifSearch {
              font-weight: 900;
              font-size: 16px; }
        .home #listGifs .showSearchGif .singleImgSearch:hover {
          width: 16.25em;
          height: 12.5em; }
          .home #listGifs .showSearchGif .singleImgSearch:hover .searchInfo {
            background-color: #572EE5;
            opacity: 0.7;
            display: block; }
    .home #listGifs .btnSearchGif {
      color: #572EE5;
      border: 1px solid #572EE5;
      border-radius: 30px;
      padding: 0 1em;
      font-family: "Montserrat";
      font-weight: bold;
      font-size: 13px;
      padding: 1.4em 1.5em 1em 1.5em;
      margin-top: 4em;
      margin-bottom: 6em;
      background-color: #FFFFFF;
      margin-left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      display: none; }
    .home .subtitle h2 {
      font-size: 18px;
      line-height: 25px; }
    .home .subtitle h3 {
      font-size: 16px;
      line-height: 25px; }
    .home .subtitle .span {
      display: inline; } }
#containerTrending {
  color: #572EE5;
  text-align: center;
  width: 100vw;
  background-color: #F3F5F8; }
  #containerTrending .trendingTitle h2 {
    font-family: 'Montserrat';
    font-size: 20px;
    padding-top: 2.9em; }
  #containerTrending .trendingTitle h3 {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #000000;
    display: block;
    padding-top: .4em;
    padding-bottom: 2em; }
    #containerTrending .trendingTitle h3 span {
      display: block; }
  #containerTrending #trendingGifos {
    height: 20em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    overflow: scroll;
    overflow: -moz-hidden-unscrollable; }
    #containerTrending #trendingGifos .singleGifo .singleImg {
      width: 15.2em;
      height: 11.7em;
      padding-left: 1.4em; }
    #containerTrending #trendingGifos .singleGifo .trendingInfo {
      display: none; }
  #containerTrending .modalShow {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 100;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #FFFFFF;
    display: none; }
    #containerTrending .modalShow .btnCloseModal {
      width: 0.9em;
      height: 0.9em;
      position: absolute;
      z-index: 50; }
    #containerTrending .modalShow .containerImgExpand {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      #containerTrending .modalShow .containerImgExpand .modalImg {
        width: 19.8em;
        height: 15.3em; }
    #containerTrending .modalShow .trendingExpand {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
      #containerTrending .modalShow .trendingExpand .hoverIcons {
        padding-right: 8em; }
        #containerTrending .modalShow .trendingExpand .hoverIcons img {
          padding-top: .8em; }
      #containerTrending .modalShow .trendingExpand .infoExpand {
        color: #000000;
        font-family: 'Roboto';
        padding-left: 8em;
        padding-top: 1em;
        text-transform: capitalize; }
        #containerTrending .modalShow .trendingExpand .infoExpand .userExpand {
          font-weight: 400;
          font-size: 15px; }
        #containerTrending .modalShow .trendingExpand .infoExpand .titleExpand {
          font-weight: 900;
          font-size: 16px; }

@media screen and (min-width: 768px) {
  #containerTrending {
    width: 100vw; }
    #containerTrending .trendingTitle {
      padding-bottom: 3em;
      text-align: center; }
      #containerTrending .trendingTitle h2 {
        color: #572EE5;
        text-align: center;
        font-weight: bold;
        font-size: 25px;
        line-height: 30px;
        padding-top: 3em; }
      #containerTrending .trendingTitle h3 {
        font-size: 18px;
        padding-top: .5em; }
    #containerTrending #trendingGifos {
      height: 25em;
      display: grid;
      grid-template: 15em/repeat(3, 20em);
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      grid-gap: 5em;
      overflow: hidden; }
      #containerTrending #trendingGifos .singleGifo .singleImg {
        width: 23em;
        height: 17em;
        padding-left: 0; }
      #containerTrending #trendingGifos .singleGifo .trendingInfo {
        position: relative;
        width: 23em;
        height: 17em;
        -webkit-transform: translate(0%, -101.5%);
                transform: translate(0%, -101.5%);
        text-transform: capitalize;
        display: grid;
        grid-template: repeat(3, 1fr)/repeat(3, 1fr); }
        #containerTrending #trendingGifos .singleGifo .trendingInfo .hoverIcons {
          display: none;
          grid-area: 1/3/2/4;
          padding-top: .5em;
          padding-right: .16em; }
          #containerTrending #trendingGifos .singleGifo .trendingInfo .hoverIcons img {
            padding: .1em; }
        #containerTrending #trendingGifos .singleGifo .trendingInfo .pInfo {
          color: #FFFFFF;
          font-family: 'Roboto';
          text-align: left;
          grid-area: 3/1/4/3;
          padding-left: 1em;
          padding-top: 1em;
          display: none; }
          #containerTrending #trendingGifos .singleGifo .trendingInfo .pInfo .user {
            font-weight: 400;
            font-size: 15px; }
          #containerTrending #trendingGifos .singleGifo .trendingInfo .pInfo .title {
            font-weight: 900;
            font-size: 16px; }
      #containerTrending #trendingGifos .singleGifo:hover {
        width: 20em;
        height: 17em; }
        #containerTrending #trendingGifos .singleGifo:hover .trendingInfo {
          background-color: #572EE5;
          opacity: 0.7; }
          #containerTrending #trendingGifos .singleGifo:hover .trendingInfo .hoverIcons {
            display: block; }
          #containerTrending #trendingGifos .singleGifo:hover .trendingInfo .pInfo {
            display: block; }
    #containerTrending .modalShow {
      position: absolute;
      width: 100vw;
      height: 100vh;
      top: 0;
      margin: 0;
      padding: 0;
      z-index: 100;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      background-color: #FFFFFF;
      display: none; }
      #containerTrending .modalShow .btnCloseModal {
        width: 3em;
        height: 3em;
        position: absolute;
        top: 4rem;
        left: 80vw;
        z-index: 50; }
      #containerTrending .modalShow .containerImgExpand .modalImg {
        width: 43.4em;
        height: 24.1em;
        padding-left: 18em;
        padding-top: 6em;
        margin-top: 2em; }
      #containerTrending .modalShow .trendingExpand {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
        #containerTrending .modalShow .trendingExpand .hoverIcons {
          padding-right: 8em; }
          #containerTrending .modalShow .trendingExpand .hoverIcons img {
            padding-top: .8em; }
        #containerTrending .modalShow .trendingExpand .infoExpand {
          color: #000000;
          font-family: 'Roboto';
          padding-left: 8em;
          padding-top: 1em;
          text-transform: capitalize; }
          #containerTrending .modalShow .trendingExpand .infoExpand .userExpand {
            font-weight: 400;
            font-size: 15px; }
          #containerTrending .modalShow .trendingExpand .infoExpand .titleExpand {
            font-weight: 900;
            font-size: 16px; } }
#containerFavorites {
  color: #572EE5;
  text-align: center;
  display: inline-block;
  width: 100vw;
  font-family: "Montserrat"; }
  #containerFavorites .titleFavorite {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 2.9em; }
  #containerFavorites .noContentFavorites .iconHeart {
    width: 1.5em;
    height: 1.3em; }
  #containerFavorites .noContentFavorites h3 {
    text-align: center;
    color: #50E3C2; }
  #containerFavorites .imagesFavorites {
    width: 20.8em;
    display: grid;
    grid-template: repeat(6, 7.5em)/repeat(2, 1fr);
    grid-gap: 1.3em 1.3em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 1.3em; }
    #containerFavorites .imagesFavorites .singleImgFav {
      width: 9.75em;
      height: 7.5em; }
      #containerFavorites .imagesFavorites .singleImgFav .imgGifFav {
        width: 9.75em;
        height: 7.5em; }
      #containerFavorites .imagesFavorites .singleImgFav .favInfo {
        display: none; }
        #containerFavorites .imagesFavorites .singleImgFav .favInfo .hoverIcons {
          display: none; }
        #containerFavorites .imagesFavorites .singleImgFav .favInfo .pInfo {
          display: none; }
  #containerFavorites .buttonFavorites {
    color: #572EE5;
    text-align: center;
    color: #572EE5;
    border: 1px solid #572EE5;
    border-radius: 30px;
    padding: 0 1em;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 13px;
    padding: 1.4em 1.5em 1em 1.5em;
    margin-top: 4em;
    margin-bottom: 6em;
    background-color: #FFFFFF;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    display: none; }
  #containerFavorites .modalFavExpand {
    display: none; }

@media screen and (min-width: 768px) {
  #containerFavorites {
    width: 100vw;
    padding-bottom: 3em; }
    #containerFavorites .titleFavorite {
      color: #572EE5;
      text-align: center;
      font-family: "Montserrat";
      font-weight: bold;
      font-size: 25px;
      line-height: 30px;
      padding-bottom: 2.25em;
      padding-top: 0.7em; }
    #containerFavorites .noContentFavorites .iconHeart {
      width: 9.375em;
      height: 8em; }
      #containerFavorites .noContentFavorites .iconHeart img {
        width: 4em;
        padding-left: 47vw; }
    #containerFavorites .noContentFavorites h3 {
      text-align: center;
      color: #50E3C2; }
    #containerFavorites .imagesFavorites {
      width: 70.5em;
      margin: auto;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      display: grid;
      grid-template: repeat(2, 1fr)/repeat(4, 1fr);
      grid-gap: 2.19em 1.81em;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      #containerFavorites .imagesFavorites .singleImgFav {
        width: 16.25em;
        height: 12.5em; }
        #containerFavorites .imagesFavorites .singleImgFav .imgGifFav {
          width: 16.25em;
          height: 12.5em; }
        #containerFavorites .imagesFavorites .singleImgFav .favInfo {
          position: relative;
          height: 12.5em;
          -webkit-transform: translate(0%, -102.5%);
                  transform: translate(0%, -102.5%);
          grid-template: repeat(3, 1fr)/repeat(3, 1fr);
          text-transform: capitalize;
          display: none; }
          #containerFavorites .imagesFavorites .singleImgFav .favInfo .hoverIcons {
            width: 20vw;
            height: 3em;
            grid-area: 1/3/2/4;
            padding-top: .5em;
            padding-right: .16em;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-pack: end;
                -ms-flex-pack: end;
                    justify-content: flex-end;
            -webkit-box-align: start;
                -ms-flex-align: start;
                    align-items: flex-start;
            -ms-flex-line-pack: end;
                align-content: flex-end; }
            #containerFavorites .imagesFavorites .singleImgFav .favInfo .hoverIcons img {
              width: 2em;
              height: 2em;
              padding: .2em; }
          #containerFavorites .imagesFavorites .singleImgFav .favInfo .pInfo {
            height: 5em;
            color: #FFFFFF;
            font-family: 'Roboto';
            padding-left: 1em;
            padding-top: 1em;
            margin-top: 2em;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-pack: start;
                -ms-flex-pack: start;
                    justify-content: flex-start;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            -webkit-box-align: end;
                -ms-flex-align: end;
                    align-items: flex-end;
            -ms-flex-line-pack: end;
                align-content: flex-end; }
            #containerFavorites .imagesFavorites .singleImgFav .favInfo .pInfo .user {
              width: 13em;
              font-weight: 400;
              font-size: 15px; }
            #containerFavorites .imagesFavorites .singleImgFav .favInfo .pInfo .titleGifSearch {
              font-weight: 900;
              font-size: 16px; }
        #containerFavorites .imagesFavorites .singleImgFav:hover {
          width: 16.25em;
          height: 12.5em; }
          #containerFavorites .imagesFavorites .singleImgFav:hover .favInfo {
            background-color: #572EE5;
            opacity: 0.7;
            display: block; }
    #containerFavorites .buttonFavorites {
      color: #572EE5;
      border: 1px solid #572EE5;
      border-radius: 30px;
      padding: 0 1em;
      font-family: "Montserrat";
      font-weight: bold;
      font-size: 13px;
      padding: 1.4em 1.5em 1em 1.5em;
      margin-top: 4em;
      margin-bottom: 6em;
      background-color: #FFFFFF;
      margin-left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
    #containerFavorites .modalShow {
      position: absolute;
      width: 100vw;
      height: 100vh;
      top: 0;
      margin: 0;
      padding: 0;
      z-index: 100;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      background-color: #FFFFFF;
      display: none; }
      #containerFavorites .modalShow .btnCloseModal {
        width: 3em;
        height: 3em;
        position: absolute;
        top: 4rem;
        left: 73vw;
        z-index: 50; }
      #containerFavorites .modalShow .containerImgExpand {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        #containerFavorites .modalShow .containerImgExpand .modalImg {
          width: 43.4em;
          height: 24.1em;
          padding-left: 18em;
          padding-top: 6em; }
      #containerFavorites .modalShow .trendingExpand {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
        #containerFavorites .modalShow .trendingExpand .hoverIcons {
          padding-right: 8em; }
          #containerFavorites .modalShow .trendingExpand .hoverIcons img {
            padding-top: .8em; }
        #containerFavorites .modalShow .trendingExpand .infoExpand {
          color: #000000;
          font-family: 'Roboto';
          padding-left: 8em;
          padding-top: 1em;
          text-transform: capitalize; }
          #containerFavorites .modalShow .trendingExpand .infoExpand .userExpand {
            font-weight: 400;
            font-size: 15px; }
          #containerFavorites .modalShow .trendingExpand .infoExpand .titleExpand {
            font-weight: 900;
            font-size: 16px; } }
.containerMisGifos {
  color: #572EE5;
  text-align: center;
  font-family: "Montserrat";
  text-align: center; }
  .containerMisGifos .titleMisGifos {
    font-size: 20px;
    line-height: 30px;
    text-transform: capitalize;
    padding-bottom: 2.9em; }
  .containerMisGifos .noContentMisGifos .iconGifos {
    width: 1.4em;
    height: 1.3em; }
  .containerMisGifos .noContentMisGifos h3 {
    font-size: 18px;
    color: #50E3C2; }
  .containerMisGifos .imagesMisGifos {
    width: 20.8em;
    display: grid;
    grid-template: repeat(6, 7.5em)/repeat(2, 1fr);
    grid-gap: 1.3em 1.3em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 1.3em; }
    .containerMisGifos .imagesMisGifos .singleImgMisGifos {
      width: 9.75em;
      height: 7.5em; }
      .containerMisGifos .imagesMisGifos .singleImgMisGifos .imgMisGifos {
        width: 9.75em;
        height: 7.5em; }
      .containerMisGifos .imagesMisGifos .singleImgMisGifos #titleGifs {
        font-size: 25px;
        line-height: 30px;
        text-transform: capitalize; }
      .containerMisGifos .imagesMisGifos .singleImgMisGifos .gifoInfo {
        display: none; }
        .containerMisGifos .imagesMisGifos .singleImgMisGifos .gifoInfo .hoverIcons {
          display: none; }
        .containerMisGifos .imagesMisGifos .singleImgMisGifos .gifoInfo .pInfo {
          display: none; }
  .containerMisGifos .btnMoreMisGifos {
    color: #572EE5;
    border: 1px solid #572EE5;
    border-radius: 30px;
    padding: 0 1em;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 13px;
    padding: 1.4em 1.5em 1em 1.5em;
    margin-top: 4em;
    margin-bottom: 6em;
    background-color: #FFFFFF;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    display: none; }

@media screen and (min-width: 768px) {
  .containerMisGifos {
    width: 100vw; }
    .containerMisGifos .titleMisGifos {
      color: #572EE5;
      text-align: center;
      font-weight: bold;
      font-size: 25px;
      padding-bottom: 2.25em;
      padding-top: 0.7em; }
    .containerMisGifos .noContentMisGifos {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .containerMisGifos .noContentMisGifos .iconGifos {
        width: 100vw;
        height: 3em; }
      .containerMisGifos .noContentMisGifos h3 {
        text-align: center;
        color: #50E3C2; }
        .containerMisGifos .noContentMisGifos h3 .spanFavorites {
          display: block; }
    .containerMisGifos .imagesMisGifos {
      width: 70.5em;
      margin: auto;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      display: grid;
      grid-template: repeat(2, 12em)/repeat(4, 1fr);
      grid-gap: 2.19em 1.81em;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .containerMisGifos .imagesMisGifos .singleImgMisGifos {
        width: 16.25em;
        height: 12.5em; }
        .containerMisGifos .imagesMisGifos .singleImgMisGifos .imgMisGifos {
          width: 16.25em;
          height: 12.5em; }
        .containerMisGifos .imagesMisGifos .singleImgMisGifos .gifoInfo {
          position: relative;
          height: 12.5em;
          -webkit-transform: translate(0%, -102.5%);
                  transform: translate(0%, -102.5%);
          grid-template: repeat(3, 1fr)/repeat(3, 1fr);
          text-transform: capitalize;
          display: none; }
          .containerMisGifos .imagesMisGifos .singleImgMisGifos .gifoInfo .hoverIcons {
            width: 20vw;
            height: 3em;
            grid-area: 1/3/2/4;
            padding-top: .5em;
            padding-right: .16em;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-pack: end;
                -ms-flex-pack: end;
                    justify-content: flex-end;
            -webkit-box-align: start;
                -ms-flex-align: start;
                    align-items: flex-start;
            -ms-flex-line-pack: end;
                align-content: flex-end; }
            .containerMisGifos .imagesMisGifos .singleImgMisGifos .gifoInfo .hoverIcons img {
              width: 2em;
              height: 2em;
              padding: .2em; }
          .containerMisGifos .imagesMisGifos .singleImgMisGifos .gifoInfo .pInfo {
            height: 5em;
            color: #FFFFFF;
            font-family: 'Roboto';
            padding-left: 1em;
            padding-top: 1em;
            margin-top: 2em;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-pack: start;
                -ms-flex-pack: start;
                    justify-content: flex-start;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            -webkit-box-align: end;
                -ms-flex-align: end;
                    align-items: flex-end;
            -ms-flex-line-pack: end;
                align-content: flex-end; }
            .containerMisGifos .imagesMisGifos .singleImgMisGifos .gifoInfo .pInfo .user {
              width: 13em;
              font-weight: 400;
              font-size: 15px; }
            .containerMisGifos .imagesMisGifos .singleImgMisGifos .gifoInfo .pInfo .titleGititleMisGifosfSearch {
              font-weight: 900;
              font-size: 16px; }
        .containerMisGifos .imagesMisGifos .singleImgMisGifos:hover {
          width: 16.25em;
          height: 12.5em; }
          .containerMisGifos .imagesMisGifos .singleImgMisGifos:hover .gifoInfo {
            background-color: #572EE5;
            opacity: 0.7;
            display: block; }
    .containerMisGifos .btnMoreMisGifos {
      color: #572EE5;
      border: 1px solid #572EE5;
      border-radius: 30px;
      padding: 0 1em;
      font-family: "Montserrat";
      font-weight: bold;
      font-size: 13px;
      padding: 1.4em 1.5em 1em 1.5em;
      margin-top: 4em;
      margin-bottom: 6em;
      background-color: #FFFFFF;
      margin-left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
    .containerMisGifos .modalShow {
      position: absolute;
      width: 100vw;
      height: 100vh;
      top: 0;
      margin: 0;
      padding: 0;
      z-index: 100;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      background-color: #FFFFFF;
      display: none; }
      .containerMisGifos .modalShow .btnCloseModal {
        width: 3em;
        height: 3em;
        position: absolute;
        top: 4rem;
        left: 73vw;
        z-index: 50; }
      .containerMisGifos .modalShow .containerImgExpand {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .containerMisGifos .modalShow .containerImgExpand .modalImg {
          width: 43.4em;
          height: 24.1em;
          padding-left: 18em;
          padding-top: 6em; }
      .containerMisGifos .modalShow .trendingExpand {
        width: 75vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: end; }
        .containerMisGifos .modalShow .trendingExpand .hoverIcons img {
          padding-top: .8em; }
        .containerMisGifos .modalShow .trendingExpand .infoExpand {
          color: #000000;
          font-family: 'Roboto';
          padding-left: 8em;
          padding-top: 1em;
          text-transform: capitalize; }
          .containerMisGifos .modalShow .trendingExpand .infoExpand .userExpand {
            font-weight: 400;
            font-size: 15px; }
          .containerMisGifos .modalShow .trendingExpand .infoExpand .titleExpand {
            font-weight: 900;
            font-size: 16px; } }
@media screen and (min-width: 768px) {
  #containerCreateGifos {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    #containerCreateGifos .animation {
      -ms-flex-item-align: center;
          align-self: center;
      padding-bottom: 5em;
      padding-left: 3.5em; }
      #containerCreateGifos .animation .camara {
        width: 7em;
        height: 9em; }
      #containerCreateGifos .animation .light {
        width: 4.5em;
        height: 8.8em; }
    #containerCreateGifos .imageFilm {
      width: .10em;
      margin-top: -10.5em;
      -ms-flex-item-align: end;
          align-self: flex-end; }
    #containerCreateGifos .stepByStep {
      width: 49.7em;
      -ms-flex-item-align: center;
          align-self: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      #containerCreateGifos .stepByStep .boxTitle {
        width: 40em;
        height: 22em;
        padding: 1.2em;
        margin-top: 1em;
        border: 1px solid #572EE5;
        text-align: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        display: grid;
        grid-template: 2em 1fr 2em / 2em 1fr 2em; }
        #containerCreateGifos .stepByStep .boxTitle .corner1 {
          grid-area: 1/1/2/2;
          border-top: 1px solid #50E3C2;
          border-left: 1px solid #50E3C2;
          width: 1.68em;
          height: 1.56em; }
        #containerCreateGifos .stepByStep .boxTitle .corner2 {
          grid-area: 1/3/2/4;
          border-top: 1px solid #50E3C2;
          border-right: 1px solid #50E3C2;
          width: 1.68em;
          height: 1.56em;
          -ms-flex-item-align: start;
              align-self: flex-start;
          justify-self: flex-end; }
        #containerCreateGifos .stepByStep .boxTitle .text1 {
          color: #572EE5;
          text-align: center;
          font-family: "Montserrat";
          padding-bottom: 2.25em;
          padding-top: 0.7em;
          grid-area: 2/2/3/3; }
          #containerCreateGifos .stepByStep .boxTitle .text1 h2 {
            font-size: 25px;
            line-height: 35px;
            font-weight: bold; }
          #containerCreateGifos .stepByStep .boxTitle .text1 p {
            font-size: 16px;
            line-height: 29px;
            color: #000000; }
          #containerCreateGifos .stepByStep .boxTitle .text1 .blockSpan {
            display: block; }
          #containerCreateGifos .stepByStep .boxTitle .text1 .coloredSpan {
            color: #50E3C2; }
        #containerCreateGifos .stepByStep .boxTitle .text2 {
          color: #572EE5;
          text-align: center;
          font-family: "Montserrat";
          padding-bottom: 2.25em;
          padding-top: 0.7em;
          grid-area: 2/2/3/3;
          display: none; }
          #containerCreateGifos .stepByStep .boxTitle .text2 h2 {
            font-size: 25px;
            line-height: 35px;
            font-weight: bold; }
          #containerCreateGifos .stepByStep .boxTitle .text2 p {
            font-size: 16px;
            line-height: 29px;
            color: #000000; }
          #containerCreateGifos .stepByStep .boxTitle .text2 .blockSpan {
            display: block; }
        #containerCreateGifos .stepByStep .boxTitle .containerPreview {
          font-family: "Montserrat";
          font-weight: bold;
          font-size: 16px;
          color: #FFFFFF;
          grid-area: 2/2/3/3;
          display: none; }
          #containerCreateGifos .stepByStep .boxTitle .containerPreview .containerVideo {
            width: 25em;
            height: 15.625em;
            margin-left: 5.5em; }
            #containerCreateGifos .stepByStep .boxTitle .containerPreview .containerVideo .preview {
              width: 25em;
              height: 15.625em;
              background: #572EE5;
              opacity: 0.7; }
          #containerCreateGifos .stepByStep .boxTitle .containerPreview .loadingUpload {
            width: 13.8em;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-transform: translate(85%, -350%);
                    transform: translate(85%, -350%);
            display: none; }
            #containerCreateGifos .stepByStep .boxTitle .containerPreview .loadingUpload .loader {
              width: 1.13em;
              height: 1em; }
          #containerCreateGifos .stepByStep .boxTitle .containerPreview .uploadCheck {
            width: 22em;
            height: 14em;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-transform: translate(30%, -100%);
                    transform: translate(30%, -100%);
            display: none; }
            #containerCreateGifos .stepByStep .boxTitle .containerPreview .uploadCheck .containerIcons {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: horizontal;
              -webkit-box-direction: normal;
                  -ms-flex-direction: row;
                      flex-direction: row;
              -webkit-box-pack: end;
                  -ms-flex-pack: end;
                      justify-content: flex-end; }
              #containerCreateGifos .stepByStep .boxTitle .containerPreview .uploadCheck .containerIcons .downloadIcon {
                padding-right: .5em; }
            #containerCreateGifos .stepByStep .boxTitle .containerPreview .uploadCheck .infoUpload {
              height: 9em;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
                  -ms-flex-direction: column;
                      flex-direction: column;
              -webkit-box-pack: center;
                  -ms-flex-pack: center;
                      justify-content: center;
              -webkit-box-align: center;
                  -ms-flex-align: center;
                      align-items: center; }
              #containerCreateGifos .stepByStep .boxTitle .containerPreview .uploadCheck .infoUpload .check {
                width: 1.13em;
                height: 1em; }
        #containerCreateGifos .stepByStep .boxTitle .corner3 {
          grid-area: 3/1/4/2;
          border-left: 1px solid #50E3C2;
          border-bottom: 1px solid #50E3C2;
          width: 1.68em;
          height: 1.56em;
          -ms-flex-item-align: end;
              align-self: flex-end;
          justify-self: flex-start; }
        #containerCreateGifos .stepByStep .boxTitle .corner4 {
          grid-area: 3/3/4/4;
          border-right: 1px solid #50E3C2;
          border-bottom: 1px solid #50E3C2;
          width: 1.68em;
          height: 1.56em;
          -ms-flex-item-align: end;
              align-self: flex-end;
          justify-self: flex-end; }
      #containerCreateGifos .stepByStep .buttonsNumber {
        width: 85%;
        padding: 1.5em;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        #containerCreateGifos .stepByStep .buttonsNumber .containerNumbers {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center; }
          #containerCreateGifos .stepByStep .buttonsNumber .containerNumbers .number {
            width: 2em;
            height: 2em;
            margin: 0 .8em 0 .8em;
            font-size: 18px;
            color: #572EE5;
            text-align: center;
            line-height: 0.8em;
            border: 1px solid #572EE5;
            border-radius: 100%;
            background-color: #FFFFFF; }
        #containerCreateGifos .stepByStep .buttonsNumber .btnRepeat {
          width: 15em;
          font-family: "Montserrat";
          font-weight: bold;
          font-size: 14px;
          -ms-flex-item-align: end;
              align-self: flex-end;
          -webkit-text-decoration: underline #50E3C2;
                  text-decoration: underline #50E3C2;
          background-color: #FFFFFF;
          color: #572EE5;
          border: none;
          display: none; }
      #containerCreateGifos .stepByStep hr {
        width: 49.7em;
        height: 0.4em;
        -ms-flex-item-align: end;
            align-self: flex-end;
        border-radius: 10px 10px 10px 10px; }
      #containerCreateGifos .stepByStep .buttonVideo {
        color: #572EE5;
        border: 1px solid #572EE5;
        border-radius: 30px;
        padding: 0 1em;
        font-family: "Montserrat";
        font-weight: bold;
        font-size: 13px;
        padding: 1.4em 1.5em 1em 1.5em;
        margin-top: 1.3em;
        background-color: #FFFFFF; }
      #containerCreateGifos .stepByStep .grabar {
        display: none; }
      #containerCreateGifos .stepByStep .finalizar {
        display: none; }
      #containerCreateGifos .stepByStep .subir {
        display: none; } }
.footer {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .footer h4 {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    padding-top: 2.9em; }
  .footer .icons {
    width: 6em;
    padding-top: 1.4em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    padding-top: 2.9em;
    line-height: 20px; }
  .footer hr {
    width: 100vw;
    height: 5px;
    background: #572EE5;
    display: block;
    bottom: 0; }

@media screen and (min-width: 768px) {
  .footer {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    padding-top: 5em; }
    .footer .socialMedia {
      width: 13em;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-line-pack: center;
          align-content: center; }
      .footer .socialMedia .icons {
        padding-top: 2.9em;
        padding-left: 1em; } }
.toggleShowBtnVerMas {
  color: #572EE5;
  border: 1px solid #572EE5;
  border-radius: 30px;
  padding: 0 1em;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 13px;
  font-family: "Montserrat";
  font-weight: bold;
  padding: 1.4em 1.5em 1em 1.5em;
  margin-top: 1.3em;
  background-color: #FFFFFF;
  margin-left: 50%;
  display: block; }

.nightMode hr {
  background: #000000; }
.nightMode header {
  background: #37383C; }
  .nightMode header nav ul {
    background: black; }
    .nightMode header nav ul a {
      color: #FFFFFF;
      text-transform: capitalize; }
.nightMode .home {
  background: #37383C; }
  .nightMode .home .browser #containerSearchGifos input {
    background: #37383C;
    color: #FFFFFF; }
  .nightMode .home .title h1 {
    color: #FFFFFF; }
  .nightMode .home #containerSearchGifos {
    color: #FFFFFF; }
  .nightMode .home .subtitle {
    color: #FFFFFF; }
.nightMode #containerTrending {
  background: #222326; }
  .nightMode #containerTrending .trendingTitle h2, .nightMode #containerTrending .trendingTitle h3 {
    color: #FFFFFF; }
.nightMode #containerFavorites {
  background: #37383C; }
  .nightMode #containerFavorites .trendingTitle h2, .nightMode #containerFavorites .trendingTitle h3 {
    color: #FFFFFF; }
.nightMode .containerMisGifos {
  background: #37383C; }
  .nightMode .containerMisGifos .trendingTitle h2, .nightMode .containerMisGifos .trendingTitle h3 {
    color: #FFFFFF; }
.nightMode .footer {
  background: #37383C;
  color: #FFFFFF; }

@media screen and (min-width: 768px) {
  .toggleShowBtnVerMas {
    color: #572EE5;
    border: 1px solid #572EE5;
    border-radius: 30px;
    padding: 0 1em;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 13px;
    font-family: "Montserrat";
    font-weight: bold;
    padding: 1.4em 1.5em 1em 1.5em;
    margin-top: 1.3em;
    background-color: #FFFFFF;
    margin-left: 50%;
    display: block; }

  .nightMode hr {
    background: #000000; }
  .nightMode header {
    background: #37383C; }
    .nightMode header nav ul {
      background: #37383C; }
      .nightMode header nav ul a {
        color: #FFFFFF; }
  .nightMode #containerCreateGifos {
    background: #37383C; }
    .nightMode #containerCreateGifos .trendingTitle h2, .nightMode #containerCreateGifos .trendingTitle h3 {
      color: #FFFFFF; }
  .nightMode .footer {
    background: #37383C; } }
/*Breakpoint 768px*/
* {
  margin: 0;
  padding: 0; }

/*# sourceMappingURL=style.css.map */